<div class="container text-center">
    <h1 class="mb-5 mt-5"><u>E-Paper - Janno Tjarks</u></h1>
</div>

<router-outlet></router-outlet>

<div class="border-top container row mx-auto text-muted">        
    <div class="text-center col-5">
        <p>
            © <span>{{ year }}</span> - <a href="https://e-paper.jtjarks.de/">Janno Tjarks</a>
        </p>
    </div>
    <div class="col form-check form-switch float-end">
        <input class="form-check-input" [(ngModel)]="usingDarkTheme" type="checkbox" (change)="toggleDarkTheme()" id="switchDarkMode">
        <label class="form-check-label" for="switchDarkTheme">Dark Mode</label>
    <div>
</div>