<div class="container mx-auto">
    <table id="epaper-table" class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Position</th>        
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let x of dataSource">        
            <td>{{ x.name }}</td>
            <td>{{ x.position }}</td>        
        </tr>      
        </tbody>
    </table>
</div>
      
<div class="border-top container row mx-auto text-muted">        
    <div class="text-center col-5">
        <p>
            © <span>{{ year }}</span> - <a href="https://epaper.jtjarks.de/">Janno Tjarks</a>
        </p>
    </div>
    <div class="col form-check form-switch">
        <input class="form-check-input" [(ngModel)]="usingDarkTheme" type="checkbox" (change)="toggleDarkTheme()" id="switchDarkMode">
        <label class="form-check-label" for="switchDarkTheme">Dark Mode</label>
    <div>
</div>

<router-outlet></router-outlet>
