<div class="container text-center"> 
    <h2 class="mb-3">Zeitungen</h2>    
    <table id="newspapers-table" class="table data-table">
        <thead>
            <tr role=row>
                <th scope="col" style="width: 33%">Name</th>
                <th scope="col" style="width: 33%">Neuste Ausgabe</th>    
                <th scope="col" style="width: 33%"></th>    
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let epaper of dataSourceEPapers">
                <tr *ngIf="(epaper.category == 'Zeitungen')">        
                    <th scope="row">{{ epaper.name }}</th>     
                    <td scope="row"><a href="https://content.jtjarks.de{{epaper.filePath}}">{{ epaper.publicationDate }}</a></td>    
                    <td scope="row"><a [routerLink]="['/archive']" [queryParams]="{ epaper: epaper.name }">Archiv</a></td>
                </tr> 
            </ng-container>                 
        </tbody>
    </table>        
    <h2 class="mb-3">Prospekte</h2>
    <table id="brochures-table" class="table data-table">
        <thead>
            <tr role=row>
                <th scope="col" style="width: 33%">Name</th>
                <th scope="col" style="width: 33%">Neuste Ausgabe</th>    
                <th scope="col" style="width: 33%"></th>    
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let epaper of dataSourceEPapers">
                <tr *ngIf="(epaper.category == 'Prospekte')">        
                    <th scope="row">{{ epaper.name }}</th>     
                    <td scope="row"><a href="https://content.jtjarks.de{{epaper.filePath}}">{{ epaper.publicationDate }}</a></td>    
                    <td scope="row"><a [routerLink]="['/archive']" [queryParams]="{ epaper: epaper.name }">Archiv</a></td>
                </tr> 
            </ng-container>                 
        </tbody>
    </table>
</div>
