<div class="container text-center"> 
    <h2 class="mb-3">Archive - {{ epaper }}</h2>
    <a [routerLink]="['/archive']" [queryParams]="{ epaper: epaper, all: true }">Alle Ausgaben anzeigen</a>
    <!-- <table id="archive-table" class="table data-table" [ngClass]="{'table-dark': 'true'}">-->        
    <table id="archive-table" class="table data-table" [class.table-dark]= "isDarkThemeActiv">    
        <thead>
            <tr role=row>                
                <th scope="col" style="width: 50%">Veröffentlichkeitsdatum</th>                    
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let epaper of dataSourceEPapers">
                <tr>        
                    <td scope="row"><a href="https://content.jtjarks.de{{epaper.filePath}}">{{ epaper.publicationDate }}</a></td>                    
                </tr> 
            </ng-container>
        </tbody>
    </table>
</div>
